<div ng-controller="DisplayPostController as vm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <div class="banner-content">
                        @Html.Partial("_TopBanner")
                        <p>@Model.Title</p>
                        <time datetime="@Model.PublishedTime" class="published-time">@Model.PublishedTime.ToString("MM/dd/yyyy")</time>
                    </div>
                </div>
                <div class="display-post-content">
                    <div class="section">
                        <div class="content">
                            <h2>@Model.Title</h2>
                            <p>@Html.Raw(Model.Content)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>