<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-content">
                    <a href="/">
                        <img title="Go to frontpage" src="~/images/content/logo.png" alt="Construct Code logo" />
                    </a>
                    <h1>@Model.Title</h1>
                    <time datetime="@Model.PublishedTime">@Model.Created</time>
                </div>
            </div>
            <div class="display-post-content">
                <section class="section">
                    <article class="content">
                        <h2 class="content-title">@Model.Title</h2>
                        <p>@Html.Raw(Model.Content)</p>
                    </article>
                </section>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        Prism.highlightAll();
    </script>
}