<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-language" content="en">
    <meta http-equiv="Cache-control" content="public">
    <meta name="description" content="@ViewData["Description"]">
    <meta name="msvalidate.01" content="3FCFD8C5E38D6B7A2B5A89C58A48F61F" />
    <meta property="article:published_time" content="@ViewData["PublishedTime"]" />

    <title>@ViewData["Title"] - Construct Code</title>

    <link async href="~/site.min.css" asp-append-version="true" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()

        <footer>
            <div class="container">
                <div class="footer-container">
                    <div class="footer-content">
                        <div class="icon-container">
                            <a href="https://github.com/runeanielsen" target="_blank"><span><i class="fa fa-github-square"></i></span></a>
                            <a href="https://www.linkedin.com/in/runeanielsen" target="_blank"><span><i class="fa fa-linkedin-square"></i></span></a>
                            <a href="https://twitter.com/runeanielsen" target="_blank"><span><i class="fa fa-twitter-square"></i></span></a>
                        </div>
                        <p>&copy; 2019 - Construct Code</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/lib.min.js" asp-append-version="true"></script>

    @RenderSection("scripts", false)
</body>
</html>